body {
    background-color: rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.container {
    height: 100vh;
    width: max(80%, 1000px);
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

aside {
    background-color: rgba(68, 147, 250, 0.855);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo > span {
    font-size: 1.5rem;
    font-weight: bold;
}

aside ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

aside ul li {
    margin: 0;
}

aside a {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

aside a:hover {
    cursor: pointer;
}

main {
    background-color: rgb(238, 237, 237);
}