body {
    background-color: rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: max(80%, 1000px);
    display: grid;
    grid-template: 1fr / 1fr 4fr;
}

aside {
    background-color: rgba(68, 147, 250, 0.855);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo > span {
    font-size: 1.5rem;
    font-weight: bold;
}

main {
    background-color: rgb(238, 237, 237);
}